@model Final_IngenieriaSoftware.Models.Votacione

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Votacione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdnewTable" />
            <div class="form-group">
                <label asp-for="VotanteIdvotante" class="control-label"></label>
                <select asp-for="VotanteIdvotante" class="form-control" asp-items="ViewBag.VotanteIdvotante"></select>
                <span asp-validation-for="VotanteIdvotante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidatosIdcandidatos" class="control-label"></label>
                <select asp-for="CandidatosIdcandidatos" class="form-control" asp-items="ViewBag.CandidatosIdcandidatos"></select>
                <span asp-validation-for="CandidatosIdcandidatos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
